*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
*.jks
*.keystore
!debug.keystore
